body {
  background-image: url(/assets/img/Grill-Background.jpg);
  background-repeat: no-repeat;
  background-color: #fff27d;
  background-attachment: fixed;
  background-size: cover;
 }
 
/* li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
} */

.devour-styling{
  color: azure;
}
.label {
  font-weight: bold;
}
  
.burger-message{
  color: azure;
}
.submit{
  margin-top: 10px;
} 

.form-group {
  margin-bottom: 5px;
}
  